<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Quiz 1:WHICH KARDASHIAN ARE YOU?</title>
	<!-- Boostrap -->
	<link href="bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet">
	<link href="quiz-style.css" rel="stylesheet">
</head>
<body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <div class="container">
    	<h1>Start the quiz!</h1>
    	<div class="row">
            <h3>1. How do you feel about other people's success?</h3>
            <img src="https://media.thetab.com/blogs.dir/279/files/2017/01/members-of-the-kardashian-family-u1.jpg">
    		<form>
                <div>
    			<input type="radio" name="feelings" value="great" id="radio1">
                <label for="radio1">Great!</label></div>

    			<div>
                <input type="radio" name="feelings" value="no one"> No one else kan be successful, that is MY thing.</div>
                
                <div>
                <input type="radio" name="feelings" value="whatever"> That's fine, whatever.</div>
                
                <div>
                <input type="radio" name="feelings" value="sad"> It makes me a little sad bekause I worry I'll never be successful</div>
                
                <div>
                <input type="radio" name="feelings" value="who cares"> Who cares, they'll never be as successful as me.</div>
                <div>
                <input type="radio" name="feelings" value="good"> Good for them! What can I get out of it?</div>
            </form> 
        <div class="row">
            <h3>2. How do you react to failure?</h3>
            <img src="http://ugc-01.cafemomstatic.com/gen/crop/635/450/70/2015/08/12/13/6m/bw/phzxb5qfk8.jpg">
            <form>
                <input type="radio" name="failure" value="what"> What is failure again?<br>
                <input type="radio" name="failure" value="sometimes"> It happens sometimes, you just have to stay motivated.<br>
                <input type="radio" name="failure" value="option"> Failure isn't an option<br>

            </form>


    		


