<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Quiz 1:WHICH KARDASHIAN ARE YOU?</title>
	<!-- Boostrap -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/quiz-style.css" rel="stylesheet">
</head>
<body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <div class="container">
    	<h1>Start the quiz!</h1>
        <h2>{{ quiz.name }}</h2>
        <p>{{ quiz.description }}</p>
    	<div class="row">
            <img src="https://media.thetab.com/blogs.dir/279/files/2017/01/members-of-the-kardashian-family-u1.jpg">

             <p><a href="{% url 'question_page' quiz_number 1 %}">
                Start
             </a></p>




