.row {
	display: block;
	text-align: center;
}
img {
	border-radius: 10%;
	max-width: 30%;
	max-height: 50%;
	padding-bottom: 20px;
}
h1 {
	text-align: center;
	padding-bottom: 10px;
	color: black;
}

h2 {
	text-align: center;
	color: grey;
}
h3 {
	text-align: center;
	color: black;
}
form {
	font-size: 25px;
	text-align: left;
	padding-left: 150px;
	padding-bottom: 50px;
}
label {
	font-weight: normal;

}
.btn.btn-default{
	margin-bottom: 20px;
}
